@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary: #1a3a5a;
    --gold: #d4af37;
    --bg: #f8f9fa;
    --laser: #00f2ff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    display: flex; justify-content: center; align-items: center;
    min-height: 100vh; margin: 0; padding: 20px;
    -webkit-user-select: none; user-select: none;
    touch-action: manipulation;
}

.container {
    text-align: center; background: white; padding: 40px;
    border-radius: 20px; box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    max-width: 800px; width: 95%; /* Lebar untuk Tablet */
}

.logo { width: 160px; margin-bottom: 20px; display: block; margin: 0 auto; }
.hidden { display: none !important; }

form { display: flex; flex-direction: column; gap: 15px; width: 100%; }
input, select { padding: 15px; border: 1px solid #ddd; border-radius: 10px; font-size: 16px; width: 100%; box-sizing: border-box; }
#birth-date-container { display: flex; gap: 10px; }

/* SCANNER SECTION */
.fingerprint-scanner {
    width: 180px; height: 210px; margin: 30px auto;
    position: relative; border: 3px solid #eee; border-radius: 20px;
    display: flex; justify-content: center; align-items: center;
    overflow: hidden; background: #fff; cursor: pointer; touch-action: none;
}

.scan-bg {
    position: absolute; width: 100%; height: 100%;
    background-color: var(--primary); opacity: 0; z-index: 1;
    transition: opacity 3s ease-in-out;
}

.scanning .scan-bg { opacity: 0.9; }

.fingerprint-image {
    width: 120px; height: auto; opacity: 0.1; 
    filter: grayscale(100%); z-index: 2;
    transition: all 3s ease-in-out; pointer-events: none;
}

.scanning .fingerprint-image { opacity: 1; filter: none; }

.scan-line {
    position: absolute; width: 100%; height: 4px;
    background: var(--laser); box-shadow: 0 0 15px var(--laser);
    left: 0; top: -10px; z-index: 3; display: none;
}

.scanning .scan-line { display: block; animation: moveLine 2s infinite ease-in-out; }

@keyframes moveLine {
    0% { top: 0%; } 50% { top: 95%; } 100% { top: 0%; }
}

button {
    background: var(--primary); color: white; border: none;
    padding: 18px; font-size: 18px; font-weight: 600;
    border-radius: 12px; cursor: pointer; transition: 0.3s; width: 100%;
}
